A:link {text-decoration: none; color: blue;}
A:visited {text-decoration: none; color: blue;}
A:active {text-decoration: none;}
A:hover {text-decoration: underline; color: red;}

body,html {
	background-color: #DDDDDD;
	height: 100%;
}

.btn-lg {
  width: 23%;
  margin: 1%;
  float: left;
  font-size: 28pt;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  box-shadow: 5px 5px 5px #888888;
}

#custom_colour_panel {
	width: 100%;
	float: none;
}

#options_panel {
	width: 100%;
	float: left;
}

.spacer {
	width: 100%;
	height: 12vw;
}

.custom_colour_text {
	width: 23%;
	margin: 1%;
	float: left;
	font-size: 28pt;
	background-color: #EEEEEE;
	text-align: center;
}

.custom_inner_text {
	width: 98%;
	margin: 1%;
	float: left;
	font-size: 28pt;
	background-color: #EEEEEE;
	text-align: center;
}

.btn-mid {
  width: 23%;
  margin: 1%;
  float: left;
  font-size: 28pt;
  font-weight: bold;
}

.btn-mid-inner {
  width: 98%;
  margin: 1%;
  float: left;
  font-size: 28pt;
  font-weight: bold;
}

.outer {
	width: 23%;
  	margin: 1%;
  	float: left;
}

.inner {
	width: 100%;
	float: left;
}

#red {
  background-color: #FF0000;
}

#green {
  background-color: #00FF00;
}

#blue {
  background-color: #0000FF;
}

#yellow {
  background-color: #FFFF00;
}

#orange {
  background-color: #FFA500;
}

#purple {
  background-color: #FF00FF;
}

#white {
  background-color: #FFFFFF;
}

#rainbow {
    background: red; /* not working, let's see some red */
    background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 0, 255, 1) 50%,
        rgba(0, 0, 255, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0%, rgba(255, 0, 0, 1)), 
        color-stop(50%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(0, 0, 255, 1)));
}

#wheel {
    background: red; /* not working, let's see some red */
    background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0%, rgba(255, 0, 0, 1)), 
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}

#stop {
  background-color: #000000;
  color: #FFFFFF;
}

#pulse {
  background-color: #666666;
  color: #FFFFFF;
}

.main_panel {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #FFFFFF;
}

@media only screen and (min-device-width: 1024px) {
  .main_panel {
  		width: 600px; 
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #FFFFFF;
  }
}



